.formulario {
  margin-top: 5%;
}

.jumbotron {
  background-color: rgb(0, 31, 43);
  color: aliceblue;
}

.page-header {
  border-bottom: 0.9px solid springgreen;
  box-shadow: 10px springgreen;
}

#body {
  border-bottom: none;
}

#sizing-addon1 {
  background-color: springgreen;
  color: aliceblue;
}
